<?xml version='1.0' encoding='utf-8'?>
<widget id="com.megster.rfduino.temp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Blink</name>
    <description>
        A sample Apache Cordova application that blinks an LED connected to the RFDuino from the iPhone.
    </description>
    <author href="https://github.com/sarajo">
        Sara Chipps
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />    
</widget>
